In [47]:
import pandas as pd

In [48]:
header_list = ['target', "twitter_id", 'date', 'flag', 'user', 'text']
df = pd.read_csv('sentiment140.csv', encoding='iso-8859-1', names=header_list)

Content
It contains the following 6 fields:

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

In [20]:
df.head()

,target,twitter_id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [ ]:
df[df['text']==""]

In [ ]:
df.isnull().any()

In [ ]:
df.shape

## Separate the data after the LDA allocation

In [49]:
extra_index = pd.read_csv('extra_depressed.csv')
real_depressed = pd.read_csv('sentiment_tweets3.csv')

In [50]:
real_depressed.drop(10313, inplace = True)

In [51]:
real_depressed = real_depressed[real_depressed['label']==1][['message', 'label']]

In [52]:
real_depressed

                                                 message  label
8000   The lack of this understanding is a small but ...      1
8001   i just told my parents about my depression and...      1
8002   depression is something i don't speak about ev...      1
8003   Made myself a tortilla filled with pb&j. My de...      1
8004   @WorldofOutlaws I am gonna need depression med...      1
...                                                  ...    ...
10308  Many sufferers of depression aren't sad; they ...      1
10309  No Depression by G Herbo is my mood from now o...      1
10310  What do you do when depression succumbs the br...      1
10311  Ketamine Nasal Spray Shows Promise Against Dep...      1
10312  dont mistake a bad day with depression! everyo...      1

[2313 rows x 2 columns]

In [53]:
extra_index.head()

   Unnamed: 0  index_depressed
0           0              798
1           1             4285
2           2             5868
3           3            14375
4           4            24364

In [54]:
sentiment_140_depressed = df.loc[extra_index['index_depressed']][['text', 'target']]

In [55]:
sentiment_140_depressed['target'] = 1

In [56]:
real_depressed.columns = ['text', 'target']

In [57]:
real_depressed.head()

                                                   text  target
8000  The lack of this understanding is a small but ...       1
8001  i just told my parents about my depression and...       1
8002  depression is something i don't speak about ev...       1
8003  Made myself a tortilla filled with pb&j. My de...       1
8004  @WorldofOutlaws I am gonna need depression med...       1

In [58]:
sentiment_140_depressed.head()

                                                    text  target
798    My stress always culminates with physical pain.         1
4285   @bekibutton Its very tough isn't it I'm virtua...       1
5868   @mistressmatisse That link isn't working  http...       1
14375        Oh no.. post camp depression is kicking in        1
24364  I need a pot noodle. Random but true! Also i'm...       1

In [59]:
depressed_data = pd.concat([real_depressed, sentiment_140_depressed])

In [60]:
no_depressed = list(set(df.index)-set(sentiment_140_depressed.index))
df = df.loc[no_depressed, :]

In [61]:
# sentiment 140 without depressed post
df

,target,twitter_id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [62]:
# all twitter depressed post
depressed_data

                                                     text  target
8000    The lack of this understanding is a small but ...       1
8001    i just told my parents about my depression and...       1
8002    depression is something i don't speak about ev...       1
8003    Made myself a tortilla filled with pb&j. My de...       1
8004    @WorldofOutlaws I am gonna need depression med...       1
...                                                   ...     ...
795425  heartbreaking..4-yr-old girl fighting cancer  ...       1
795723  it's a lil disheartening to see everyone in th...       1
797259  Slesai sudah tanggung jawab gw d sma !!! Tngga...       1
798848  RIP Farrah Fawcett... a heartbreaking story......       1
799250  R.I.P Farrah  I'm so devastated by this. I tho...       1

[2577 rows x 2 columns]

## Tokenize tweets with NLTK

In [70]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer

In [75]:
import nltk
nltk.download('punkt')
tknzr = TweetTokenizer()

stop_words = [ 'what', 'which', 'who', 'whom', 'this', 'that', "that'll",'these', 'those', 'am', 'is', 'was', 'were',
 'be','been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but',
 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into',
 'through', 'during', 'before','after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on','off', 'over',
 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each',
 'few', 'more', 'most', 'other', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can',
 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't",
 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn',
  "isn't", 'ma', 'mightn',"mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn',
 "wasn't", 'weren', "weren't", 'won',"won't", 'wouldn',"wouldn't", "http"]

[nltk_data] Downloading package punkt to
[nltk_data]     /home/student.unimelb.edu.au/jprasetiyo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [82]:
def tokenize(dataset):
    dataset['tokenized_text'] = dataset['text']
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: tknzr.tokenize(x.lower()))
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: [word for word in x if word not in stop_words])
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: [word for word in x if word.isalpha()])
    return dataset

In [85]:
twitter_not_depressed = tokenize(df)
twitter_not_depressed.to_pickle('twitter_not_depressed.pickle')

In [83]:
twitter_depressed = tokenize(depressed_data)
twitter_depressed.to_pickle('twitter_depressed.pickle')

In [86]:
twitter_not_depressed

,target,twitter_id,date,flag,user,text,tokenized_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, bummer, you, shoulda, got, david, carr,..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, he, update, his, facebook, texting, it..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,"[i, dived, many, times, ball, managed, save, r..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,"[my, whole, body, feels, itchy, like, its, fire]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","[behaving, mad, i, i, see, you]"
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,"[woke, school, best, feeling, ever]"
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"[cool, hear, old, walt, interviews, Ã¢]"
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"[are, you, ready, your, mojo, makeover, ask, m..."
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"[happy, birthday, my, boo, alll, time, tupac, ..."
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,[happy]

In [84]:
twitter_depressed

,text,target,tokenized_text
8000,The lack of this understanding is a small but ...,1,"[lack, understanding, small, significant, part..."
8001,i just told my parents about my depression and...,1,"[i, told, my, parents, my, depression, hard, g..."
8002,depression is something i don't speak about ev...,1,"[depression, something, i, speak, even, going,..."
8003,Made myself a tortilla filled with pb&j. My de...,1,"[made, myself, tortilla, filled, pb, j, my, de..."
8004,@WorldofOutlaws I am gonna need depression med...,1,"[i, gonna, need, depression, meds, soon, raino..."
...,...,...,...
795425,heartbreaking..4-yr-old girl fighting cancer ...,1,"[heartbreaking, girl, fighting, cancer]"
795723,it's a lil disheartening to see everyone in th...,1,"[lil, disheartening, see, everyone, unemployme..."
797259,Slesai sudah tanggung jawab gw d sma !!! Tngga...,1,"[slesai, sudah, tanggung, jawab, gw, sma, tngg..."
798848,RIP Farrah Fawcett... a heartbreaking story......,1,"[rip, farrah, fawcett, heartbreaking, story, s..."
799250,R.I.P Farrah I'm so devastated by this. I tho...,1,"[r, i, p, farrah, devastated, i, thought, she,..."