In [1]:
import pandas as pd

In [3]:
header_list = ['target', "twitter_id", 'date', 'flag', 'user', 'text']
df = pd.read_csv('../sentiment140.csv', encoding='iso-8859-1', names=header_list)

Content
It contains the following 6 fields:

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

In [19]:
df

,target,twitter_id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [26]:
message = test_set['message'][0]

In [27]:
for i in df['text']:
    if i==message:
        print(i)
        print(message)
        break

just had a real good moment. i missssssssss him so much,
just had a real good moment. i missssssssss him so much,

In [ ]:
df[df['text']==""]

In [ ]:
df.isnull().any()

In [ ]:
df.shape

## Separate the data after the LDA allocation

In [13]:
#extra_index = pd.read_csv('extra_depressed.csv')
test_set = pd.read_csv('sentiment_tweets3.csv')

In [31]:
different_df = df[~df.text.isin(test_set.message)]

In [3]:
test_set.drop(10313, inplace = True)

In [4]:
test_set = test_set[['message', 'label']]

In [5]:
test_set.columns = ['text', 'label']

In [6]:
test_set

                                                    text  label
0      just had a real good moment. i missssssssss hi...      0
1             is reading manga  http://plurk.com/p/mzp1e      0
2      @comeagainjen http://twitpic.com/2y2lx - http:...      0
3      @lapcat Need to send 'em to my accountant tomo...      0
4          ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0
...                                                  ...    ...
10308  Many sufferers of depression aren't sad; they ...      1
10309  No Depression by G Herbo is my mood from now o...      1
10310  What do you do when depression succumbs the br...      1
10311  Ketamine Nasal Spray Shows Promise Against Dep...      1
10312  dont mistake a bad day with depression! everyo...      1

[10313 rows x 2 columns]

In [36]:
sentiment_140_positive = different_df[different_df['target']==4]

In [54]:
#sentiment_140_depressed = df.loc[extra_index['index_depressed']][['text', 'target']]

In [55]:
#sentiment_140_depressed['target'] = 1

In [56]:
#real_depressed.columns = ['text', 'target']

In [59]:
#depressed_data = pd.concat([real_depressed, sentiment_140_depressed])

In [60]:
#no_depressed = list(set(df.index)-set(sentiment_140_depressed.index))
#df = df.loc[no_depressed, :]

## Tokenize tweets with NLTK

In [5]:
!pip3 install nltk

Collecting nltk
Collecting joblib (from nltk)
  Downloading https://files.pythonhosted.org/packages/fc/c9/f58220ac44a1592f79a343caba12f6837f9e0c04c196176a3d66338e1ea8/joblib-0.17.0-py3-none-any.whl (301kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 307kB 4.7MB/s eta 0:00:01
Collecting regex (from nltk)
  Downloading https://files.pythonhosted.org/packages/3d/e7/352f352776288ed59726cd3739b4db685908f0e92eb9baa9f76809f9cd16/regex-2020.9.27-cp36-cp36m-manylinux1_x86_64.whl (662kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 665kB 2.3MB/s  eta 0:00:01
Collecting tqdm (from nltk)
  Downloading https://files.pythonhosted.org/packages/bd/cf/f91813073e4135c1183cadf968256764a6fe4e35c351d596d527c0540461/tqdm-4.50.2-py2.py3-none-any.whl (70kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 71kB 11.6MB/s ta 0:00:01
Collecting click (from nltk)
  Using cached https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl
Installing collected packages: joblib, regex, tqdm, click, nltk
Successfully installed click-7.1.2 joblib-0.17.0 nltk-3.5 regex-2020.9.27 tqdm-4.50.2

In [6]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer

In [9]:
import nltk
nltk.download('punkt')
tknzr = TweetTokenizer()

stop_words = [ 'what', 'which', 'who', 'whom', 'this', 'that', "that'll",'these', 'those', 'am', 'is', 'was', 'were',
 'be','been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but',
 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into',
 'through', 'during', 'before','after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on','off', 'over',
 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each',
 'few', 'more', 'most', 'other', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can',
 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't",
 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn',
  "isn't", 'ma', 'mightn',"mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn',
 "wasn't", 'weren', "weren't", 'won',"won't", 'wouldn',"wouldn't", "http"]

AttributeError: module 'nltk' has no attribute 'data'

In [9]:
def tokenize(dataset):
    dataset['tokenized_text'] = dataset['text']
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: tknzr.tokenize(x.lower()))
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: [word for word in x if word not in stop_words])
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: [word for word in x if word.isalpha()])
    return dataset

In [37]:
twitter_positive = tokenize(sentiment_140_positive)
twitter_positive.to_pickle('twitter_not_depressed.pickle')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
twitter_test = tokenize(test_set)
twitter_test.to_pickle('twitter_test.pickle')

In [11]:
twitter_positive

NameError: name 'twitter_positive' is not defined

In [12]:
twitter_test

,text,label,tokenized_text
0,just had a real good moment. i missssssssss hi...,0,"[real, good, moment, i, missssssssss, him, much]"
1,is reading manga http://plurk.com/p/mzp1e,0,"[reading, manga]"
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0,[]
3,@lapcat Need to send 'em to my accountant tomo...,0,"[need, send, em, my, accountant, tomorrow, odd..."
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,"[add, me, myspace]"
...,...,...,...
10308,Many sufferers of depression aren't sad; they ...,1,"[many, sufferers, depression, sad, they, feel,..."
10309,No Depression by G Herbo is my mood from now o...,1,"[depression, g, herbo, my, mood, done, stressi..."
10310,What do you do when depression succumbs the br...,1,"[you, depression, succumbs, brain, makes, you,..."
10311,Ketamine Nasal Spray Shows Promise Against Dep...,1,"[ketamine, nasal, spray, shows, promise, depre..."
10312,dont mistake a bad day with depression! everyo...,1,"[dont, mistake, bad, day, depression, everyone..."