In [1]:
import pandas as pd

In [3]:
header_list = ['target', "twitter_id", 'date', 'flag', 'user', 'text']
df = pd.read_csv('../sentiment140.csv', encoding='iso-8859-1', names=header_list)

Content
It contains the following 6 fields:

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

In [19]:
df

,target,twitter_id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [26]:
message = test_set['message'][0]

In [27]:
for i in df['text']:
    if i==message:
        print(i)
        print(message)
        break

just had a real good moment. i missssssssss him so much,
just had a real good moment. i missssssssss him so much,

In [ ]:
df[df['text']==""]

In [ ]:
df.isnull().any()

In [ ]:
df.shape

## Separate the data after the LDA allocation

In [30]:
#extra_index = pd.read_csv('extra_depressed.csv')
test_set = pd.read_csv('sentiment_tweets3.csv')

In [31]:
different_df = df[~df.text.isin(test_set.message)]

In [32]:
test_set.drop(10313, inplace = True)

In [33]:
test_set = test_set[test_set['label']==1][['message', 'label']]

In [34]:
test_set.columns = ['text', 'label']

In [35]:
test_set

                                                    text  label
8000   The lack of this understanding is a small but ...      1
8001   i just told my parents about my depression and...      1
8002   depression is something i don't speak about ev...      1
8003   Made myself a tortilla filled with pb&j. My de...      1
8004   @WorldofOutlaws I am gonna need depression med...      1
...                                                  ...    ...
10308  Many sufferers of depression aren't sad; they ...      1
10309  No Depression by G Herbo is my mood from now o...      1
10310  What do you do when depression succumbs the br...      1
10311  Ketamine Nasal Spray Shows Promise Against Dep...      1
10312  dont mistake a bad day with depression! everyo...      1

[2313 rows x 2 columns]

In [36]:
sentiment_140_positive = different_df[different_df['target']==4]

In [54]:
#sentiment_140_depressed = df.loc[extra_index['index_depressed']][['text', 'target']]

In [55]:
#sentiment_140_depressed['target'] = 1

In [56]:
#real_depressed.columns = ['text', 'target']

In [59]:
#depressed_data = pd.concat([real_depressed, sentiment_140_depressed])

In [60]:
#no_depressed = list(set(df.index)-set(sentiment_140_depressed.index))
#df = df.loc[no_depressed, :]

## Tokenize tweets with NLTK

In [10]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer

In [11]:
import nltk
nltk.download('punkt')
tknzr = TweetTokenizer()

stop_words = [ 'what', 'which', 'who', 'whom', 'this', 'that', "that'll",'these', 'those', 'am', 'is', 'was', 'were',
 'be','been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but',
 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into',
 'through', 'during', 'before','after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on','off', 'over',
 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each',
 'few', 'more', 'most', 'other', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can',
 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't",
 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn',
  "isn't", 'ma', 'mightn',"mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn',
 "wasn't", 'weren', "weren't", 'won',"won't", 'wouldn',"wouldn't", "http"]

[nltk_data] Downloading package punkt to
[nltk_data]     /home/student.unimelb.edu.au/nyoewono/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
def tokenize(dataset):
    dataset['tokenized_text'] = dataset['text']
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: tknzr.tokenize(x.lower()))
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: [word for word in x if word not in stop_words])
    dataset['tokenized_text'] = dataset["tokenized_text"].apply(lambda x: [word for word in x if word.isalpha()])
    return dataset

In [37]:
twitter_positive = tokenize(sentiment_140_positive)
twitter_positive.to_pickle('twitter_not_depressed.pickle')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [38]:
twitter_test = tokenize(test_set)
twitter_test.to_pickle('twitter_test.pickle')

In [17]:
twitter_positive

,target,twitter_id,date,flag,user,text,tokenized_text
800000,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,I LOVE @Health4UandPets u guys r the best!!,"[i, love, u, guys, r, best]"
800001,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight! ...,"[im, meeting, one, my, besties, tonight, cant,..."
800002,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,"@DaRealSunisaKim Thanks for the Twitter add, S...","[thanks, twitter, add, sunisa, i, got, meet, y..."
800003,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,Being sick can be really cheap when it hurts t...,"[sick, really, cheap, it, hurts, much, eat, re..."
800004,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,@LovesBrooklyn2 he has that effect on everyone,"[he, effect, everyone]"
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,"[woke, school, best, feeling, ever]"
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"[cool, hear, old, walt, interviews, â]"
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"[are, you, ready, your, mojo, makeover, ask, m..."
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"[happy, birthday, my, boo, alll, time, tupac, ..."
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,[happy]

In [18]:
twitter_test

,text,label,tokenized_text
8000,The lack of this understanding is a small but ...,1,"[lack, understanding, small, significant, part..."
8001,i just told my parents about my depression and...,1,"[i, told, my, parents, my, depression, hard, g..."
8002,depression is something i don't speak about ev...,1,"[depression, something, i, speak, even, going,..."
8003,Made myself a tortilla filled with pb&j. My de...,1,"[made, myself, tortilla, filled, pb, j, my, de..."
8004,@WorldofOutlaws I am gonna need depression med...,1,"[i, gonna, need, depression, meds, soon, raino..."
...,...,...,...
10308,Many sufferers of depression aren't sad; they ...,1,"[many, sufferers, depression, sad, they, feel,..."
10309,No Depression by G Herbo is my mood from now o...,1,"[depression, g, herbo, my, mood, done, stressi..."
10310,What do you do when depression succumbs the br...,1,"[you, depression, succumbs, brain, makes, you,..."
10311,Ketamine Nasal Spray Shows Promise Against Dep...,1,"[ketamine, nasal, spray, shows, promise, depre..."
10312,dont mistake a bad day with depression! everyo...,1,"[dont, mistake, bad, day, depression, everyone..."