In [1]:
import pandas as pd

In [3]:
header_list = ['target', "twitter_id", 'date', 'flag', 'user', 'text']
df = pd.read_csv('sentiment140.csv', encoding='iso-8859-1', names=header_list)

Content
It contains the following 6 fields:

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

In [4]:
df.head()

,target,twitter_id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [70]:
df[df['text']==""]

Empty DataFrame
Columns: [target, twitter_id, date, flag, user, text]
Index: []

In [71]:
df.isnull().any()

target        False
twitter_id    False
date          False
flag          False
user          False
text          False
dtype: bool

In [5]:
df.shape

(1600000, 6)

## Tokenize tweets with NLTK

In [19]:
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/student.unimelb.edu.au/jprasetiyo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /home/student.unimelb.edu.au/jprasetiyo/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [8]:
df['tokenized_text'] = df['text']

In [9]:
df['tokenized_text'] = df["tokenized_text"].apply(word_tokenize)

In [24]:
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
df['tokenized_text'] = df["tokenized_text"].apply(lambda x: [word for word in x if word not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/student.unimelb.edu.au/jprasetiyo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
df.to_csv("sentiment140_tokenized.csv", index=False)

In [26]:
df_token = pd.read_csv('sentiment140_tokenized.csv')

In [84]:
df_token

,target,twitter_id,date,flag,user,text,tokenized_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","['@', 'switchfoot', 'http', ':', '//twitpic.co..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,"['is', 'upset', 'that', 'he', 'ca', ""n't"", 'up..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,"['@', 'Kenichan', 'I', 'dived', 'many', 'times..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,"['my', 'whole', 'body', 'feels', 'itchy', 'and..."
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","['@', 'nationwideclass', 'no', ',', 'it', ""'s""..."
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,"['Just', 'woke', 'up', '.', 'Having', 'no', 's..."
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"['TheWDB.com', '-', 'Very', 'cool', 'to', 'hea..."
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"['Are', 'you', 'ready', 'for', 'your', 'MoJo',..."
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"['Happy', '38th', 'Birthday', 'to', 'my', 'boo..."
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,"['happy', '#', 'charitytuesday', '@', 'theNSPC..."

In [27]:
df_token

,target,twitter_id,date,flag,user,text,tokenized_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","['@', 'switchfoot', 'http', ':', '//twitpic.co..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,"['upset', 'ca', ""n't"", 'update', 'Facebook', '..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,"['@', 'Kenichan', 'I', 'dived', 'many', 'times..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,"['whole', 'body', 'feels', 'itchy', 'like', 'f..."
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","['@', 'nationwideclass', ',', ""'s"", 'behaving'..."
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,"['Just', 'woke', '.', 'Having', 'school', 'bes..."
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"['TheWDB.com', '-', 'Very', 'cool', 'hear', 'o..."
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"['Are', 'ready', 'MoJo', 'Makeover', '?', 'Ask..."
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"['Happy', '38th', 'Birthday', 'boo', 'alll', '..."
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,"['happy', '#', 'charitytuesday', '@', 'theNSPC..."