In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
from sklearn.decomposition import NMF, LatentDirichletAllocation

In [21]:
sentiment = pd.read_pickle("sentiment140_tokenized.pickle")

In [22]:
sentiment

,target,twitter_id,date,flag,user,text,tokenized_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, bummer, you, shoulda, got, david, carr,..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, he, update, his, facebook, texting, it..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,"[i, dived, many, times, ball, managed, save, r..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,"[my, whole, body, feels, itchy, like, its, fire]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","[behaving, mad, i, i, see, you]"
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,"[woke, school, best, feeling, ever]"
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"[cool, hear, old, walt, interviews, â]"
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"[are, you, ready, your, mojo, makeover, ask, m..."
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"[happy, birthday, my, boo, alll, time, tupac, ..."
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,[happy]

In [32]:
def identity_tokenizer(text):
    return text

tfidf_no_token = TfidfVectorizer(tokenizer=identity_tokenizer, preprocessor=identity_tokenizer,token_pattern=None, max_features = 1000)

In [33]:
tfidf_no_token.fit(sentiment['tokenized_text'])
fit_model = tfidf_no_token.transform(sentiment['tokenized_text'])

In [49]:
feature_names = tfidf_no_token.get_feature_names()

In [5]:
pickle.dump(fit_model, open("tfidf_results.pickle", "wb"))
pickle.dump(tfidf_no_token, open("tfidf_model.pickle", "wb"))