In [1]:
import pandas as pd

In [2]:
import requests

def download_file_from_google_drive(id, destination):
    URL = "https://docs.google.com/uc?export=download"

    session = requests.Session()

    response = session.get(URL, params = { 'id' : id }, stream = True)
    token = get_confirm_token(response)

    if token:
        params = { 'id' : id, 'confirm' : token }
        response = session.get(URL, params = params, stream = True)

    save_response_content(response, destination)    

def get_confirm_token(response):
    for key, value in response.cookies.items():
        if key.startswith('download_warning'):
            return value

    return None

def save_response_content(response, destination):
    CHUNK_SIZE = 32768

    with open(destination, "wb") as f:
        for chunk in response.iter_content(CHUNK_SIZE):
            if chunk: # filter out keep-alive new chunks
                f.write(chunk)

In [3]:
file_id = '1B8XBwth6ksBjxKsd40ir_GGdm9bWfnve'
destination = '../sentiment140.csv'
download_file_from_google_drive(file_id, destination)

In [7]:
df = pd.read_csv(destination, encoding='iso-8859-1')

In [8]:
df.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [5]:
# https://drive.google.com/file/d/1ODVSwh99gA3bkxVi292QxmShSYLIM7Dv/view?usp=sharing
#https://drive.google.com/file/d//view?usp=sharing
#https://drive.google.com/file/d//view?usp=sharing
file_id = '1Y5BoaL3omNtSEWwW2VSC0v4UWDVBHlqO'
destination = '../X_test.csv'
download_file_from_google_drive(file_id, destination)

In [ ]:
data = pd.read_csv(destination, lineterminator='\n')
data.head()

,title,self_text
0,So many kinds of therapists...what to choose?,Pretty simply question here. I've been thinkin...
1,i'm drawing a comic thing,---
2,Tired of rejection..,I'm 20 [M] and never had a real girlfriend. Th...
3,Everyone thinks I'm fine.. but I'm no where close,I don't really mind if anyone reads or cares a...
4,honesty,I drink most nights because I am unhappy. I a...

In [ ]:
# https://drive.google.com/file/d/1OpAjkTIAVSpbihOSM2fmlWrKWBeLAYlV/view?usp=sharing
file_id = '1OpAjkTIAVSpbihOSM2fmlWrKWBeLAYlV'
destination = '../happy.csv'
download_file_from_google_drive(file_id, destination)