In [10]:
import pandas as pd
import nltk
import re

In [23]:
data = pd.read_csv('../depression.csv', lineterminator='\n')

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957593 entries, 0 to 957592
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   title      957589 non-null  object
 1   self_text  851537 non-null  object
dtypes: object(2)
memory usage: 14.6+ MB

In [25]:
data['title'] = data['title'].astype('str')
data['self_text'] = data['self_text'].astype('str')

In [26]:
data.head()

,title,self_text
0,So many kinds of therapists...what to choose?,Pretty simply question here. I've been thinkin...
1,i'm drawing a comic thing,---
2,Tired of rejection..,I'm 20 [M] and never had a real girlfriend. Th...
3,Everyone thinks I'm fine.. but I'm no where close,I don't really mind if anyone reads or cares a...
4,honesty,I drink most nights because I am unhappy. I a...

In [48]:
data['texts'] = data['title']+" "+data['self_text']

In [50]:
data.drop(labels=['title', 'self_text'], axis=1, inplace = True)

In [52]:
data.head()

   count                                              texts
0      1  So many kinds of therapists...what to choose? ...
1      0                      i'm drawing a comic thing ---
2      0  Tired of rejection.. I'm 20 [M] and never had ...
3      1  Everyone thinks I'm fine.. but I'm no where cl...
4      0  honesty I drink most nights because I am unhap...

In [53]:
words_of_interest = ['depressed', 'depression', 'stress', 'help', 
                     'suicide', 'devastated', 'frustrated',
                    "upsetting", "distressing", "painful", "heartbreaking", 
                     "dispiriting", "disheartening", "discouraging", "demoralizing"]

In [54]:
def search_word(data, words):
    for each_word in words:
        if re.search(each_word, data):
            return 1
    return 0

In [55]:
data['count'] = data['texts'].apply(lambda x: search_word(x, words_of_interest))

In [56]:
tot = data['count'].sum()
print(f'Number of posts that contain depressed words: {tot}')

Number of posts that contain depressed words: 514868